---
layout: two-col
---

{% for post in site.books %}
<section class="post">
  <header class="post-header">
    {% if post.link %}
    <h4>
      <a class="post-title" href="http://{{ post.link }}" title="{{ post.title }}">{{ post.title }}{% if post.author %} by {{ post.author }}{% endif %}</a>
    </h4>
    {% endif %}
    </header>

    {% if post.image.feature %}
    <div class="post-feature-image">
      <img src=
      {% if post.image.feature contains 'http' %}
      "{{ post.image.feature }}"
      {% else %}
      "{{ site.url }}/img/{{ post.image.feature }}"
      {% endif %}
      alt="{{ post.title }} feature image">

      {% if post.image.credit %}
      <span class="image-credit">Photo Credit: <a href="{{ post.image.creditlink }}">{{ post.image.credit }}</a></span>
      {% endif %}
    </div><!-- /.image-wrap -->
    {% endif %}

</section>
{% endfor %}
<script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_tracking_id = "headache_xyz-20";
amzn_assoc_ad_mode = "manual";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_linkid = "2c9b99753e74f663d1f2074e5cbcaa5e";
amzn_assoc_asins = "B004TM8NDG,B00DAKX7HA,B000PI9XZU,B008KMSM1Y";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>